<template>
  <div id="countdown" class="countdown" :class="'countdown--' + userStatus">
    <UserCpt :user="shuffledActiveUsers[currentUser]" :status="userStatus" />

    <div v-if="duration === 0" class="countdown__digit"><EmoticonDeadOutline /></div>
    <div v-else class="countdown__digit">{{ formattedDuration }}</div>

    <div>
      <Close class="btn" @click="quit" />

      <PlayCircleOutline v-if="status !== STATUS_RUNNING" class="btn" @click="startOrStop" />
      <PauseCircleOutline v-else class="btn" @click="startOrStop" />

      <SkipNext class="btn" @click="next" />
    </div>
  </div>
</template>

<script lang="ts">
import { shuffle } from 'lodash-es'
import { Close, EmoticonDeadOutline, PauseCircleOutline, PlayCircleOutline, SkipNext } from 'mdue'
import { defineComponent } from 'vue'

import UserCpt from '@/components/User.vue'
import { User, UserStatus, getTeam, getUsers } from '@/data/users'
import { DEFAULT_DURATION, formatDuration, getDuration } from '@/utils/duration'

const STATUS_RUNNING = 'running'
const STATUS_STOPPED = 'stopped'
const STATUS_RESET = 'reset'

export default defineComponent({
  name: 'Countdown',

  components: { UserCpt, SkipNext, Close, PlayCircleOutline, PauseCircleOutline, EmoticonDeadOutline },

  data() {
    return {
      STATUS_RUNNING,
      STATUS_STOPPED,
      STATUS_RESET,

      initialDuration: DEFAULT_DURATION,
      duration: DEFAULT_DURATION,
      status: STATUS_RESET,

      interval: 0,
      currentUser: 0
    }
  },

  computed: {
    shuffledActiveUsers(): User[] {
      const activeTeam = getTeam()
      const activeUsers = getUsers().filter((u: User) => u.active && u.team === activeTeam)
      return shuffle(activeUsers)
    },

    userStatus(): UserStatus {
      if (this.duration > 10 && this.duration < 30) return 'warning'
      else if (this.duration > 0 && this.duration <= 10) return 'alert'
      else if (this.duration === 0) return 'dead'
      else return ''
    },

    formattedDuration() {
      return formatDuration(this.duration)
    }
  },

  mounted() {
    this.initialDuration = Number(getDuration())
    this.duration = Number(getDuration())
  },

  methods: {
    // Check the status to start or stop the timer
    startOrStop() {
      if (this.status === STATUS_RUNNING) this.stop()
      else this.start()
    },

    // Start the timer
    start() {
      if (this.duration === 0) return

      this.status = STATUS_RUNNING
      this.duration -= 1
      this.interval = window.setInterval(() => {
        this.duration -= 1

        if (this.duration === 0) this.stop()
      }, 1000)
    },

    // Stop the timer
    stop() {
      this.status = STATUS_STOPPED
      clearInterval(this.interval)
    },

    // Reset the timer to its initial duration
    next() {
      this.stop()
      this.status = STATUS_RESET
      this.duration = this.initialDuration

      // If all users have spoken, go to end page
      if (this.currentUser + 1 >= this.shuffledActiveUsers.length) this.$router.replace({ name: 'end' })
      else this.currentUser++
    },

    // Quit and return to home page
    quit() {
      this.stop()
      this.status = STATUS_RESET
      this.duration = this.initialDuration

      history.back()
    }
  }
})
</script>

<style scoped lang="scss">
.countdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-weight: 400;
  color: var(--col-white);
  transition: all 0.3s;

  & > div {
    margin-top: 3rem;
  }

  &--warning {
    color: var(--col-orange);
  }

  &--alert {
    color: var(--col-red);
  }

  &--dead {
    color: var(--col-white);
  }

  &__digit {
    width: 100%;
    height: 160px;
    font-size: 8rem;
    text-align: center;
    pointer-events: none;
  }
}
</style>
