<template>
  <div class="end">
    <h1>Done!</h1>

    <div class="result">
      <ClockOutline />
      <span class="time">{{ today }}</span>
    </div>

    <nav>
      <span class="link" @click="history.back()">Return to start</span>
    </nav>
  </div>
</template>

<script lang="ts">
import { ClockOutline } from 'mdue'
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'End',

  components: { ClockOutline },

  data() {
    return {
      history
    }
  },

  computed: {
    today(): string {
      const startTime = Number(localStorage.getItem('startTime') || 0)
      const durationInSec = Math.floor((Date.now() - startTime) / 1000)
      const minutes = Math.floor(durationInSec / 60)
      const seconds = durationInSec - minutes * 60

      return `${minutes} min ${seconds} sec`
    }
  }
})
</script>

<style scoped lang="scss">
.end {
  text-align: center;

  h1 {
    font-size: 3rem;
    text-transform: uppercase;
  }

  .result {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5rem 0;
    font-size: 2rem;

    .time {
      margin-left: 0.25rem;
      font-size: 1.25rem;
    }
  }
}
</style>
