<template>
  <router-link class="btn btn-sm btn-settings" :to="{ name: 'settings' }"><Cog /></router-link>
  <Refresh v-if="needRefresh" class="btn btn-sm btn-reload" @click="updateServiceWorker()" />

  <div class="home">
    <img
      v-if="team === 'wallix-one'"
      class="logo"
      alt="Logo"
      src="~@/img/daily-ride-wallix-one.png"
      @click="toggleTeam"
    />
    <img v-else-if="team === 'scar'" class="logo" alt="Logo" src="~@/img/daily-ride-scar.png" @click="toggleTeam" />
    <img v-else-if="team === 'front-end'" class="logo" alt="Logo" src="~@/img/weekly-front.png" @click="toggleTeam" />
    <img v-else class="logo" alt="Logo" src="~@/img/daily-ride.png" @click="toggleTeam" />

    <div class="users">
      <UserCpt
        v-for="u in filteredUsers"
        :key="u.name"
        :user="u"
        small
        :status="u.active ? '' : 'disabled'"
        @click="u.active = !u.active"
      />
    </div>

    <nav>
      <router-link :to="{ name: 'countdown' }" class="start" @click="start">Go!</router-link>
    </nav>
  </div>
</template>

<script lang="ts">
import { Cog, Refresh } from 'mdue'
import { useRegisterSW } from 'virtual:pwa-register/vue'
import { computed, defineComponent, onMounted, reactive, toRefs, watch } from 'vue'

import UserCpt from '@/components/User.vue'
import { Team, User, clearUsers, getTeam, getUsers, saveTeam, saveUsers } from '@/data/users'

type WakeLockSentinel = {
  release: () => void
}

export default defineComponent({
  name: 'Home',

  components: { Cog, Refresh, UserCpt },

  setup() {
    const { needRefresh, updateServiceWorker } = useRegisterSW()

    const filteredUsers = computed<User[]>(() => state.users.filter((u) => u.team === state.team))

    const state = reactive({
      team: getTeam(),

      users: getUsers(),
      wakeLockSentinel: {} as WakeLockSentinel
    })

    onMounted(() => {
      // Will be released when closing the app
      initScreenLock()
    })

    // When updating application, clear localstorage
    watch(
      () => needRefresh.value,
      () => {
        if (needRefresh.value) clearUsers()
      }
    )

    // Check if wakeLock API is supported to prevent the screen to go to sleep
    async function initScreenLock() {
      if ('wakeLock' in window.navigator) {
        state.wakeLockSentinel = await window.navigator.wakeLock.request('screen')
      }
    }

    function toggleTeam() {
      if (state.team === Team.Scar) state.team = Team.WallixOne
      else if (state.team === Team.WallixOne) state.team = Team.FrontEnd
      else if (state.team === Team.FrontEnd) state.team = Team.Scar
      else state.team = Team.WallixOne

      saveTeam(state.team)
    }

    function start() {
      saveTeam(state.team)
      saveUsers(state.users)
      localStorage.setItem('startTime', Date.now().toString())
    }

    return {
      needRefresh,
      updateServiceWorker,

      filteredUsers,
      ...toRefs(state),

      initScreenLock,
      toggleTeam,
      start
    }
  }
})
</script>

<style scoped lang="scss">
.btn-settings {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 0;
}

.btn-stats {
  position: absolute;
  top: 50px;
  left: 15px;
  padding: 0;
}

.btn-reload {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 0;
}

.home {
  width: 75%;
  text-align: center;

  .logo {
    width: 75%;
    cursor: pointer;
  }

  .users {
    width: 90%;
    margin: 4rem auto;

    &-hof {
      margin: 4rem auto 0;

      h4 {
        margin: 0;
      }
    }
  }

  nav {
    text-transform: uppercase;

    a {
      display: block;
      width: 75%;
      margin: 0 auto;
      color: var(--col-white);
      text-decoration: none;
    }

    .start {
      padding: 1rem;
      font-size: 2rem;
      border: 1px solid var(--col-white);
      border-radius: 10px;
      transition: all ease 0.3s;

      &:hover {
        color: var(--col-dark);
        background-color: var(--col-white);
      }
    }
  }
}
</style>

<style lang="scss">
.link {
  color: var(--col-grey);
  text-decoration: none;
  cursor: pointer;
  transition: all ease 0.3s;

  &:hover {
    color: var(--col-white);
  }

  &:focus,
  &:active {
    color: var(--col-grey);
  }
}
</style>
