<template>
  <div class="settings">
    <h1>Duration</h1>

    <div class="settings-duration">
      <Minus class="btn" @click="updateDuration(-15)" />
      <div class="duration">{{ formattedDuration }}</div>
      <Plus class="btn" @click="updateDuration(15)" />
    </div>

    <div class="settings-controls">
      <Close class="btn" @click="backToHome" />
      <Check class="btn" @click="saveDuration" />
    </div>
  </div>
</template>

<script lang="ts">
import { Check, Close, Minus, Plus } from 'mdue'
import { defineComponent } from 'vue'

import { DEFAULT_DURATION, formatDuration, getDuration, saveDuration } from '@/utils/duration'

export default defineComponent({
  name: 'Settings',

  components: { Minus, Plus, Close, Check },

  data() {
    return {
      duration: DEFAULT_DURATION
    }
  },

  computed: {
    formattedDuration() {
      return formatDuration(this.duration)
    }
  },

  mounted() {
    this.duration = Number(getDuration())
  },

  methods: {
    updateDuration(delta: number) {
      const newDuration = this.duration + delta

      if (newDuration >= 15) this.duration = newDuration
    },

    // Save duration in local storage
    saveDuration() {
      saveDuration(this.duration)
      this.backToHome()
    },

    backToHome() {
      history.back()
    }
  }
})
</script>

<style scoped lang="scss">
.settings {
  text-align: center;

  h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
  }

  .settings-duration {
    display: flex;
    margin: 3rem 0;

    .duration {
      font-size: 5rem;
      text-align: center;
      pointer-events: none;
    }
  }
}
</style>
