<template>
  <div :class="['avatar-' + size, status ? 'avatar--' + status : '']" class="avatar">
    <div v-if="pictureUrl" :style="'background-image:url(' + pictureUrl + ')'" class="picture" />
    <div class="initial">{{ initials }}</div>
  </div>
</template>

<script lang="ts">
import type { PropType } from 'vue'
import { defineComponent } from 'vue'

import { UserStatus } from '@/data/users'

/** An avatar component that display an image or the first letter of the name */
export default defineComponent({
  name: 'Avatar',

  props: {
    /** Initials of the user */
    initials: {
      type: String,
      default: '',
      required: true
    },

    /** Picture url of the avatar */
    pictureUrl: {
      type: String,
      default: ''
    },

    /**
     * The size of the avatar<br/>
     * Values: <code>"md"</code> | <code>"lg"</code>
     */
    size: {
      type: String as PropType<'md' | 'lg'>,
      default: 'md'
    },

    /**
     * The status of the avatar<br/>
     * Values: <code>"warning"</code> | <code>"alert"</code> | <code>"dead"</code> | <code>"disabled"</code>
     */
    status: {
      type: String as PropType<UserStatus>,
      default: ''
    }
  }
})
</script>

<style scoped lang="scss">
.avatar {
  position: relative;

  .picture,
  .initial {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 2px solid var(--col-orange);
    border-radius: 50%;
  }

  .picture {
    z-index: 20;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    opacity: 1;
    transition: all 0.5s ease;

    &:hover {
      @media (hover: hover) {
        opacity: 0;
      }
    }
  }

  .initial {
    inset: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--col-orange);
    background-color: var(--col-blue);
  }

  &-md {
    width: 50px;
    height: 50px;

    .initial {
      font-size: 1.3rem;
    }
  }

  &-lg {
    width: 200px;
    height: 200px;

    .picture,
    .initial {
      border: 5px solid var(--col-white);
    }

    .initial {
      font-size: 5rem;
    }
  }

  &--warning {
    .picture,
    .initial {
      border: 5px solid var(--col-orange);
      box-shadow: 0 0 50px 0 var(--col-orange);
    }
  }

  @keyframes alert {
    0% {
      box-shadow: 0 0 50px 0 var(--col-red);
    }

    50% {
      box-shadow: 0 0 70px 20px var(--col-red);
    }

    100% {
      box-shadow: 0 0 50px 0 var(--col-red);
    }
  }

  &--alert {
    .picture,
    .initial {
      border: 5px solid var(--col-red);
      box-shadow: 0 0 50px 0 var(--col-red);
      animation: alert 1.5s infinite;
    }
  }

  &--dead {
    .picture,
    .initial {
      filter: grayscale(1);
      border: 5px solid var(--col-orange);
    }
  }

  &--disabled {
    .picture,
    .initial {
      filter: grayscale(1);
      border-color: var(--col-grey);
    }
  }
}
</style>
