<template>
  <div class="user" :class="{ 'user--small': small }">
    <Avatar
      class="user-avatar"
      :initials="user.initials"
      :picture-url="avatarUrl"
      :size="small ? 'md' : 'lg'"
      :status="status"
    />

    <template v-if="!small">{{ user.name }}</template>
  </div>
</template>

<script lang="ts">
import { PropType, defineComponent } from 'vue'

import { User, UserStatus } from '@/data/users'

import Avatar from './Avatar.vue'

export default defineComponent({
  name: 'User',

  components: { Avatar },

  props: {
    user: {
      type: Object as PropType<User>,
      required: true
    },

    status: {
      type: String as PropType<UserStatus>,
      default: ''
    },

    small: {
      type: Boolean,
      default: false
    }
  },

  computed: {
    avatarUrl(): string {
      if (this.user.avatar) return `${import.meta.env.BASE_URL}avatars/${this.user.avatar}.png`
      else return ''
    }
  }
})
</script>

<style lang="scss" scoped>
.user {
  font-size: 4rem;
  text-align: center;

  .user-avatar {
    margin: 0 auto 4rem;
  }

  &--small {
    display: inline-block;
    height: auto;
    margin-bottom: 0;

    .user-avatar {
      margin: 0.5rem;
    }
  }
}
</style>
