<template>
  <router-view />
</template>

<style lang="scss">
:root {
  --col-white: #dce0df;
  --col-grey: #a0a0a0;
  --col-dark: #212121;
  --col-orange: #f37324;
  --col-red: #d61f34;
  --col-blue: #003049;
}

* {
  user-select: none;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
  -webkit-tap-highlight-color: transparent;
}

html,
body,
#app {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  color: var(--col-white);
  background-color: var(--col-dark);
  background-image: url('img/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}

@media (width >= 768px) {
  #app {
    max-width: 500px;
    margin: 0 auto;
  }
}

.btn {
  padding: 1.5rem 2rem;
  font-size: 3rem;
  color: var(--col-grey);
  cursor: pointer;
  transition: all ease 0.3s;

  &:hover {
    color: var(--col-white);
  }

  &:focus,
  &:active {
    color: var(--col-grey);
  }

  &-sm {
    font-size: 1.5rem;
  }
}
</style>
